In [2]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv("data_diamantes.csv")

In [27]:
test = pd.read_csv("test_diamantes.csv")

In [28]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   2.26      Ideal     G     SI2   61.9   57.0  8.44  8.36  5.20  12831
1   2.43  Very Good     H     SI2   63.2   57.0  8.56  8.50  5.39  16170
2   0.80    Premium     F     SI2   61.0   57.0  6.03  6.01  3.67   2797
3   0.40      Ideal     F      I1   63.3   60.0  4.68  4.64  2.95    630
4   0.31      Ideal     G     VS2   61.6   55.0  4.39  4.37  2.70    698

In [29]:
data.shape

(40455, 10)

# COLOR

In [30]:
data[data["color"]=="D"].price.mean()

3171.102853745541

In [31]:
data[data["color"]=="E"].price.mean()

3045.47664442326

In [32]:
data[data["color"]=="F"].price.mean()

3722.8691354587218

In [33]:
data[data["color"]=="G"].price.mean()

4031.810527555346

In [34]:
data[data["color"]=="H"].price.mean()

4515.971107544141

In [35]:
data[data["color"]=="I"].price.mean()

5093.18413247652

In [36]:
data[data["color"]=="J"].price.mean()

5331.782978723404

# Clarity

In [37]:
data.clarity.value_counts()

SI1     9767
VS2     9147
SI2     6909
VS1     6157
VVS2    3822
VVS1    2740
IF      1356
I1       557
Name: clarity, dtype: int64

In [38]:
#I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))

In [39]:
data[data["clarity"]=="IF"]

       carat        cut color clarity  depth  table     x     y     z  price
21      0.31      Ideal     G      IF   62.0   54.0  4.36  4.38  2.71    891
78      0.61      Ideal     H      IF   59.4   59.0  5.55  5.59  3.31   2461
84      0.37      Ideal     H      IF   61.7   53.0  4.66  4.68  2.88    936
119     1.02      Ideal     G      IF   62.5   57.0  6.44  6.37  4.00   8311
137     0.62      Ideal     H      IF   60.5   58.0  5.48  5.52  3.33   2501
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
40301   0.32      Ideal     F      IF   62.2   55.0  4.38  4.40  2.73   1010
40343   1.00  Very Good     F      IF   60.1   57.0  6.45  6.52  3.90  10346
40362   0.35      Ideal     H      IF   60.9   57.0  4.58  4.60  2.80   1028
40405   0.39      Ideal     E      IF   61.5   55.5  4.68  4.72  2.88   1418
40440   0.27      Ideal     G      IF   61.0   56.0  4.17  4.19  2.55    672

[1356 rows x 10 columns]

In [40]:
data[data["clarity"]=="I1"]

       carat        cut color clarity  depth  table      x      y     z  price
3       0.40      Ideal     F      I1   63.3   60.0   4.68   4.64  2.95    630
77      1.02    Premium     H      I1   62.5   60.0   6.41   6.39  4.00   3199
183     1.01      Ideal     F      I1   62.2   54.0   6.42   6.44  4.00   3377
237     0.96       Fair     H      I1   61.5   63.0   6.22   6.06  3.78   1637
264     3.02       Fair     I      I1   65.2   56.0   9.11   9.02  5.91  10577
...      ...        ...   ...     ...    ...    ...    ...    ...   ...    ...
40019   0.91  Very Good     J      I1   63.1   57.0   6.12   6.06  3.84   2048
40119   5.01       Fair     J      I1   65.5   59.0  10.74  10.54  6.98  18018
40257   0.91       Good     E      I1   57.7   63.0   6.35   6.30  3.65   2342
40330   1.02      Ideal     I      I1   61.7   56.0   6.49   6.44  3.99   2925
40412   1.12      Ideal     D      I1   60.6   55.0   6.76   6.73  4.09   4215

[557 rows x 10 columns]

In [41]:
data[data["clarity"]=="VS1"].price.mean()

3828.7797628715284

In [42]:
data[data["clarity"]=="VVS2"].price.mean()

3289.9790685504972

In [43]:
data[data["clarity"]=="VVS1"].price.mean()

2548.111678832117

In [44]:
data[data["clarity"]=="IF"].price.mean()

2896.477876106195

In [110]:
data.cut.value_counts()

Ideal        16139
Premium      10377
Very Good     9101
Good          3650
Fair          1188
Name: cut, dtype: int64

In [111]:
data.price.mean()

3939.2428130021012

In [112]:
data.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [45]:
test = test [["id", "carat","clarity", "color"]]

In [46]:
data = data[["carat","clarity",  "color", "price"]]

In [47]:
data

       carat clarity color  price
0       2.26     SI2     G  12831
1       2.43     SI2     H  16170
2       0.80     SI2     F   2797
3       0.40      I1     F    630
4       0.31     VS2     G    698
...      ...     ...   ...    ...
40450   1.11     SI1     H   5315
40451   0.73     VS2     F   2762
40452   1.26     VS1     I   6855
40453   0.72     SI2     G   2297
40454   0.54     SI1     G   1356

[40455 rows x 4 columns]

In [116]:
#data[data["cut"]=="Ideal"]

In [117]:
#data[data["cut"]=="Fair"]

In [10]:
def cleanColor(color):
    if color == "D":
        return 1
    if color == "E":
        return 1
    if color == "F":
        return 1
    if color == "G":
        return 1
    if color == "H":
        return 2
    if color == "I":
        return 2
    else:
        return 2
    
data["color"]= data["color"].apply(cleanColor)
test["color"]= test["color"].apply(cleanColor)

In [119]:
#data.cut.value_counts()

In [120]:
#I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF

In [11]:
def cleanClarity(clarity):
    if clarity == "I1" or clarity == "SI2" or clarity == "SI1":
        return 1
    if clarity == "VS2" or clarity == "VS1":
        return 2
    if clarity == "VVS2" or clarity == "VVS1":
        return 3
    else:
        return 4
    
data["clarity"]= data["clarity"].apply(cleanClarity)
test["clarity"]= test["clarity"].apply(cleanClarity)

In [122]:


data

       carat  clarity  color     x     y     z  price
0       2.26        1      1  8.44  8.36  5.20  12831
1       2.43        1      2  8.56  8.50  5.39  16170
2       0.80        1      1  6.03  6.01  3.67   2797
3       0.40        1      1  4.68  4.64  2.95    630
4       0.31        2      1  4.39  4.37  2.70    698
...      ...      ...    ...   ...   ...   ...    ...
40450   1.11        1      2  6.63  6.56  4.14   5315
40451   0.73        2      1  5.77  5.74  3.60   2762
40452   1.26        2      2  7.09  7.02  4.18   6855
40453   0.72        1      1  5.76  5.83  3.56   2297
40454   0.54        1      1  5.27  5.23  3.19   1356

[40455 rows x 7 columns]

In [48]:
X = pd.get_dummies(data,columns=["clarity", "color"])

In [49]:
X_submission = pd.get_dummies(test,columns=["clarity", "color"])

In [50]:
y = data['price']
submission_Id = test.id

In [51]:
X = X.drop(columns=['price'],axis=1)
X_submission = X_submission.drop(columns=['id'],axis=1)

In [52]:
#X["x"] = X["x"]/10
#X["y"] = X["y"]/10
#X["z"] = X["z"]/10

In [53]:
#X_submission["x"] = X_submission["x"]/10
#X_submission["y"] = X_submission["y"]/10
#X_submission["z"] = X_submission["z"]/10

In [54]:
X

,carat,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,2.26,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
1,2.43,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
2,0.80,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
3,0.40,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0.31,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,1.11,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
40451,0.73,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
40452,1.26,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
40453,0.72,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
40454,0.54,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0

In [55]:
X_submission

,carat,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,0.56,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1,1.05,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
2,0.50,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
3,0.80,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
4,0.54,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.70,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
13481,0.55,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
13482,1.54,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
13483,0.30,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
13484,0.42,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0

In [56]:
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
models = {
  # "modelSVR": SVR(kernel="linear"),
   "modelLinearRG": LinearRegression(),
  #"decisionTree": DecisionTreeRegressor(random_state=0)
   #'randomForest': RandomForestRegressor(max_depth=3, random_state=0,n_estimators=50)
}

preds = {}

for label, model in models.items():
    print("Training {}".format(label))
    model.fit(X,y)
    preds[label] = model.predict(X_submission)

Training modelLinearRG

In [57]:
for label, pred in preds.items():
    submission = pd.DataFrame({
        'Id': submission_Id,
        'price': pred
    })
    display(submission.head())

   Id    price
0   0  1298.25
1   1  6560.75
2   2  1980.75
3   3  4830.50
4   4  2340.50

In [58]:
submission.price.mean()

3921.24517982944

In [59]:
submission.to_csv('submission_4.csv', index=False)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
reg = LinearRegression().fit(X, y)

In [16]:
pred = reg.predict(X_submission)

In [17]:
d = {'Id': submission_Id, 'price': pred}

In [19]:
df = pd.DataFrame(data=d)

In [20]:
df

          Id        price
0          0  1397.493739
1          1  6565.014053
2          2  1870.492915
3          3  4431.140809
4          4  2211.912635
...      ...          ...
13480  13480  1695.967147
13481  13481  3193.763174
13482  13482  9850.910003
13483  13483  -733.101290
13484  13484  2084.149087

[13485 rows x 2 columns]

In [21]:
df.price.mean()

3917.3446450067336